<div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cancel form submission</h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel submission? </p>
        <p>Any unsubmitted data will be lost</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{{ url_for('main.home')}}" class="btn btn-primary">Leave page</a>
      </div>
    </div>
  </div>
</div>
