{% extends "base.html" %}
{% block content %}
{% include "standardNavigation.html" %}
{% include "flashAlerts.html" %}
<div class="container mt-4">
  {% if current_user.accessRole == AccessRoleEnum.Admin %}
  <h1>Active Users</h1>
  <a href="{{ url_for('user.addUser')}}" class="btn btn-primary mb-3">Add a new user</a>
  <table class="table table-striped table-bordered">
    <thead class="table-light">
      <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Access Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.userID }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.accessRole }}</td>
        <td>
          <a href="{{ url_for('user.updateUser', userID=user.userID) }}?mode=edit&resource=user"class="btn btn-sm btn-secondary">Edit</a>
          <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="setDeleteID('{{user.userID}}', '{{user.firstName}}', '{{user.lastName}}')">Delete</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="container mt-4">
  <h1>Deleted Users</h1>
  {% if deletedUsers|length > 0 %}
      <table class="table table-striped table-bordered">
        <thead class="table-light">
          <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>username</th>
            <th>Access Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for user in deletedUsers %}
          <tr>
            <td>{{ user.userID }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.accessRole }}</td>
            <td>
              <a href="{{ url_for('user.restoreUser',  userID=user.userID)}}" class="btn btn-sm btn-primary">Restore</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    {% include "noneDeletedAlert.html" %}
  {% endif %}
</div>
{% else %}
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Warning!</h4>
  <p>You do not have permission to manage user records</p>
  <hr>
  <p class="mb-0"> If you wish to update your personal information, please contact an admin</p>
</div>
{% endif %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete User</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="userToDelete">
        <p>Are you sure you want to delete <strong id="userNamePlaceholder"></strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="confirmDelete()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
  function setDeleteID(userID, firstName, lastName) {
    document.getElementById('userToDelete').value = userID;
    document.getElementById('userNamePlaceholder').textContent = userID + "-" + firstName + " " + lastName
  }
  function confirmDelete() {
    const userID = document.getElementById('userToDelete').value;
    window.location.href = "/users/delete/" + userID;
  }
</script>
{% endblock %}